html body {
    padding: 0;
    margin: 0;
}

main {
    color: wheat;
    background: gray;
    display: flex;
    flex-flow: column nowrap;
    
}

#imgcanvas {
    border: 1px solid black;
}

.input-wrapper {
    padding: 20px;
}
