html body {
    padding: 0;
    margin: 0;
}

main {
    color: whitesmoke;
    background: black;
    display: flex;
    flex-flow: column nowrap;
    height: 100dvh; 
    align-items: center;
}

#imgcanvas {
    flex-grow: 1;
    object-fit: contain;
    align-self: stretch;
    flex-shrink: 1;
    margin: 1em;
    image-rendering: pixelated;
    min-height: 0;
}

.input-wrapper {
    padding: 20px;
    width: 80%;
}
